body{
  text-align: center;
  font-family: 'Days One', sans-serif;
  }
.estiloCancha{
    position: relative;
    margin-top: 3%;
    margin-left: 25%;
    margin-bottom: 5%;
    width: 650px;
    height: 350px;
    border: 2px solid #7CB342;
    background-color: #33691E;
  }

  .cancha{
    position: relative;
    margin-top: 25px;
    margin-left: 25px;
    width: 600px;
    height: 300px;
    border: 3px solid white;
  }

  .balon{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
  }

  .estiloForma{
    position: absolute;
    border: 1px solid white;
  }

  .tamForma{
    width: 100px;
    height: 200px;
  }
  .tamCirculo{
    width: 50px;
    height: 100px;
  }
  /*ESTILO CANCHA SOCCER*/
    #soccerCancha{
      background-color:#7CB342;
    }
    #izq{
      top: 50px;
    }

    #circuloCentro{
      top: 30%;
      left: 42%;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    #der{
      top: 50px;
      right: 0;
    }

    #a{
      margin-left: 16%;
      margin-top: 8%;
    }

    #b{
      margin-top: 10%;
      margin-left:50%;
    }
    #c{
      margin-top: 40%;
      margin-left:80%;
    }
